.App {
  text-align: center;
}
body {
  background-color: #282c34
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hover-button .hover-button--on,
.hover-button:hover .hover-button--off {
  display: none;
}

.hover-button:hover .hover-button--on {
  display: inline;
}
button {
  border: none;
  background-color:transparent;
  outline: none;
}
.button-submit {
  border: none;
  background-color: #00CB79;
  outline: none;
  font-size: 20px;
}
input {
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  border-radius: 50px;
  color: #333333;
  font-size: 20px;
}
form {
  background-color: transparent;
}
.wrapper {
  height: 10vmin;
}
.arrow {
  width: 200px;
  position: absolute;
  bottom: 40px;
  left: calc(50% - 100px);
  animation: arrowDown 2s infinite;
}
@keyframes arrowDown {
  0% {
    bottom: 200px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 200px;
  }
}
.h1-registered {
  text-align: center;
  position: fixed;
  top: 30%;
  left: 10%;
}
.h2-registered {
  text-align: center;
  position: fixed;
  top: 40%;
  left: 40%;
}
.back-link {
  color: lightseagreen;
  background: whitesmoke;
}
.div-registered {
  background-image: url(confetee.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}